@charset "UTF-8";
/*--------///MISC///----------------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #465775; }

ul {
  list-style-type: none; }

li {
  float: left; }

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*DISEÑO PAGINAS*/
/*Diseños Enlazados*/
.parrafo__tMate {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center; }

.title__pagMates {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 0px; }

.btn-primary, .boton_bombilla, .boton_set, .botonMate, .boton_termo {
  border-radius: 70px; }
  .btn-primary .img_mat, .boton_bombilla .img_mat, .boton_set .img_mat, .botonMate .img_mat, .boton_termo .img_mat {
    width: 300px;
    height: 300px; }

.portadas, #portada_pagBombillas, #portada_pagCombos, #portada_pagMates, #portada_pagTermos {
  background-size: cover;
  padding-bottom: 500px;
  border-radius: 200px; }

/*-------///PARTIALS///--------------------------------------------------------------------------------------------------------------------------------------------*/
footer {
  background-color: white;
  padding: 50px;
  text-align: center;
  border-radius: 50px; }

header {
  background-color: #341E3B; }

/*----------VIEWS-----------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseño INICIO*/
.promo__title {
  font-family: italic;
  text-align: center;
  font-size: 100px; }

.promo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #130303;
  border-radius: 70px; }

#pagPerfil {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center; }
  #pagPerfil .about {
    background-color: #465775; }
    #pagPerfil .about_title {
      font-size: 200px;
      font-family: italic; }
    #pagPerfil .about__text {
      font-size: 35px;
      font-family: cursive; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .promo {
    grid-template-columns: auto auto auto auto; }
  .about__text {
    font-size: 30px; }
  .promo__img {
    max-width: 200px;
    max-height: 200px; }
  .promo__title {
    font-size: 35px; }
  .link__mate {
    max-width: 20px;
    max-width: 20px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .promo {
    grid-template-columns: auto auto; }
  .about__text {
    font-size: 30px; }
  .promo__img {
    max-width: 150px;
    max-height: 150px; }
  .promo__title {
    font-size: 30px; }
  .link__mate {
    max-width: 20px;
    max-width: 20px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

@media screen and (max-width: 320px) {
  .promo {
    grid-template-columns: auto auto; }
  .about__text {
    font-size: 20px; }
  .promo__img {
    max-width: 80px;
    max-height: 80px; }
  .promo__title {
    font-size: 15px; }
  .link__mate {
    max-width: 20px;
    max-width: 20px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - BOMBILLAS*/
#portada_pagBombillas {
  background-image: url(https://inym.org.ar/imagenes/archivos/noticias/78748_listaImagenes-1_1088x650xrecortarxagrandar.jpg?random=1613667611); }

.boton_bombilla {
  background-color: #212227;
  border-radius: 20px; }
  .boton_bombilla .nombre_bomb {
    color: #fff; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagCombos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 300px; }
  .img_bomb {
    max-width: 200px;
    max-height: 200px; }
  .text_bomb {
    max-width: 500px;
    max-height: 300px; } }

@media screen and (max-width: 768px) {
  #portada_pagTermos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 200px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_set {
    max-width: 150px;
    max-height: 150px; }
  .text_set {
    max-width: 300px;
    max-height: 400px; }
  .boton_set {
    border-radius: 30px; } }

@media screen and (max-width: 320px) {
  #portada_pagTermos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 100px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_set {
    max-width: 120px;
    max-height: 120px; }
  .text_set {
    max-width: 200px;
    max-height: 200px;
    font-size: 10px; }
  .nombre_set {
    font-size: 15px; }
  .boton_set {
    border-radius: 30px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - COMBOS*/
#portada_pagCombos {
  background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg); }

.boton_set {
  background-color: #212227; }
  .boton_set .nombre_set {
    color: #fff; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagCombos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 300px; }
  .img_set {
    max-width: 200px;
    max-height: 200px; }
  .text_set {
    max-width: 500px;
    max-height: 300px; } }

@media screen and (max-width: 768px) {
  #portada_pagTermos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 200px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_set {
    max-width: 150px;
    max-height: 150px; }
  .text_set {
    max-width: 300px;
    max-height: 400px; }
  .boton_set {
    border-radius: 30px; } }

@media screen and (max-width: 320px) {
  #portada_pagTermos {
    background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
    background-size: cover;
    padding-bottom: 100px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_set {
    max-width: 120px;
    max-height: 120px; }
  .text_set {
    max-width: 200px;
    max-height: 200px;
    font-size: 10px; }
  .nombre_set {
    font-size: 15px; }
  .boton_set {
    border-radius: 30px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - CONTACTO*/
.form_correo {
  border-radius: 20px;
  width: 800px; }

.form-control {
  border-radius: 20px;
  width: 1200px;
  height: 150px; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseño PAGINAS - MATES*/
#portada_pagMates {
  background-image: url(https://www.quieromate.com.ar/wp-content/uploads/2019/05/Tipos-de-Mates-1200x667.jpg); }

.botonMate {
  background-color: #212227; }
  .botonMate .nombre_mate {
    color: #fff; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagMates {
    background-image: url(https://www.quieromate.com.ar/wp-content/uploads/2019/05/Tipos-de-Mates-1200x667.jpg);
    background-size: cover;
    padding-bottom: 300px; }
  .parrafo__tMate {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; }
  .img_mat {
    max-width: 200px;
    max-height: 200px; }
  .text_mate {
    max-width: 500px;
    max-height: 300px; } }

@media screen and (max-width: 768px) {
  #portada_pagMates {
    background-image: url(https://www.quieromate.com.ar/wp-content/uploads/2019/05/Tipos-de-Mates-1200x667.jpg);
    background-size: cover;
    padding-bottom: 200px; }
  .parrafo__tMate {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_mat {
    max-width: 150px;
    max-height: 150px; }
  .text_mate {
    max-width: 300px;
    max-height: 400px; } }

@media screen and (max-width: 320px) {
  #portada_pagMates {
    background-image: url(https://www.quieromate.com.ar/wp-content/uploads/2019/05/Tipos-de-Mates-1200x667.jpg);
    background-size: cover;
    padding-bottom: 100px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_mat {
    max-width: 120px;
    max-height: 120px; }
  .text_mate {
    max-width: 200px;
    max-height: 200px;
    font-size: 10px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - TERMOS*/
#portada_pagTermos {
  background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg); }

.boton_termo {
  background-color: #212227; }
  .boton_termo .nombre_termo {
    color: #fff; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagTermos {
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
    background-size: cover;
    padding-bottom: 300px; }
  .img_termos {
    max-width: 200px;
    max-height: 200px; }
  .text_termo {
    max-width: 500px;
    max-height: 300px; } }

@media screen and (max-width: 768px) {
  #portada_pagTermos {
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
    background-size: cover;
    padding-bottom: 200px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_termos {
    max-width: 150px;
    max-height: 150px; }
  .text_termo {
    max-width: 300px;
    max-height: 400px; }
  .boton_termo {
    border-radius: 30px; } }

@media screen and (max-width: 320px) {
  #portada_pagTermos {
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
    background-size: cover;
    padding-bottom: 100px; }
  .title__pagMates {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px; }
  .img_termos {
    max-width: 120px;
    max-height: 120px; }
  .text_termo {
    max-width: 200px;
    max-height: 200px;
    font-size: 10px; }
  .nombre_termo {
    font-size: 15px; }
  .boton_termo {
    border-radius: 30px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
