@charset "UTF-8";
/*--------///MISC///----------------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #465775;
  background-image: url(../imagenes_removed_fondo/depositphotos_119591490-stock-illustration-pattern-with-tea-leaf-mate.jpg); }

ul {
  list-style-type: none; }

li {
  float: left; }

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*DISEÑO PAGINAS*/
/*Diseños Enlazados*/
.parrafo__tMate {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center; }

.title__pagMates {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 0px; }

.btn-primary, .boton_bombilla, .boton_set, .botonMate, .boton_termo {
  border-radius: 70px; }
  .btn-primary .img_mat, .boton_bombilla .img_mat, .boton_set .img_mat, .botonMate .img_mat, .boton_termo .img_mat {
    width: 300px;
    height: 300px; }

.portadas {
  border-radius: 200px; }

.box_tamaño, #portada_pagBombillas .titulo_fondo, #portada_pagCombos .titulo_fondo, #portada_pagMates .titulo_fondo, #portada_pagTermos .titulo_fondo {
  width: 1900px;
  height: 500px; }

.modelo_fondo, #portada_pagBombillas, #portada_pagCombos, #portada_pagMates, #portada_pagTermos {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid; }

.modelo_titulo, #portada_pagBombillas .titulo_fondo, #portada_pagCombos .titulo_fondo, #portada_pagMates .titulo_fondo, #portada_pagTermos .titulo_fondo {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 150px; }

/*-------///PARTIALS///--------------------------------------------------------------------------------------------------------------------------------------------*/
footer {
  background-color: white;
  text-align: center;
  border-radius: 50px;
  opacity: 0.9; }

header {
  background-color: white; }

/*----------VIEWS-----------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseño INICIO*/
#pagPerfil .about_title {
  /*FONDO - IMAGEN*/
  font-weight: 100px;
  background-image: url(../imagenes_removed_fondo/floral-y-hojas-color-mate-fondo-estos-gráficos-vienen-en-tipos-de-archivos-muy-fáciles-aplicar-con-cualquier-software-esta-22103.jpg);
  border-radius: 50px;
  max-height: 200px;
  text-align: center;
  /*TITULO - LETRAS*/
  font-size: 150px;
  font-family: monospace;
  font-weight: bold; }

.promo {
  display: grid;
  grid-template-columns: auto auto auto auto; }
  .promo__img {
    background-color: #1a1a1f;
    border-radius: 50px;
    max-width: 200px;
    max-height: 200px;
    padding: 10px; }
  .promo__title {
    background-image: url(../imagenes_removed_fondo/istockphoto-1351228744-612x612.jpg);
    border-radius: 70px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 80px; }
  .promo .link__mate {
    max-width: 20px;
    max-height: 300px; }

@media screen and (max-width: 1199px) {
  #pagPerfil .about_title {
    /*FONDO - IMAGEN*/
    text-align: center;
    /*TITULO - LETRAS*/
    font-size: 150px;
    font-family: monospace;
    font-weight: bold; }
  .promo {
    display: grid;
    grid-template-rows: auto; }
    .promo__img {
      background-color: #1a1a1f;
      border-radius: 20px;
      max-width: 150px;
      max-height: 150px;
      padding: 5px; }
    .promo__title {
      background-image: url(../imagenes_removed_fondo/istockphoto-1351228744-612x612.jpg);
      border-radius: 70px;
      font-family: monospace;
      font-weight: bold;
      text-align: center;
      font-size: 100px;
      padding: 20px; }
    .promo .link__mate {
      max-width: 5px;
      max-height: 100px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  #pagPerfil .about_title {
    /*FONDO - IMAGEN*/
    text-align: center;
    /*TITULO - LETRAS*/
    font-size: 100px;
    font-family: monospace;
    font-weight: bold; }
  .promo {
    display: grid;
    grid-template-rows: auto; }
    .promo__img {
      background-color: #1a1a1f;
      border-radius: 20px;
      max-width: 100px;
      max-height: 100px;
      padding: 5px; }
    .promo__title {
      background-image: url(../imagenes_removed_fondo/istockphoto-1351228744-612x612.jpg);
      border-radius: 70px;
      font-family: monospace;
      font-weight: bold;
      text-align: center;
      font-size: 50px;
      padding: 20px; }
    .promo .link__mate {
      max-width: 5px;
      max-height: 100px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

@media screen and (max-width: 320px) {
  #pagPerfil .about_title {
    /*FONDO - IMAGEN*/
    text-align: center;
    /*TITULO - LETRAS*/
    font-size: 80px;
    font-family: monospace;
    font-weight: bold; }
  .promo {
    display: grid;
    grid-template-rows: auto; }
    .promo__img {
      background-color: #1a1a1f;
      border-radius: 20px;
      max-width: 70px;
      max-height: 70px;
      padding: 10px; }
    .promo__title {
      background-image: url(../imagenes_removed_fondo/istockphoto-1351228744-612x612.jpg);
      border-radius: 70px;
      font-family: monospace;
      font-weight: bold;
      text-align: center;
      font-size: 35px;
      padding: 20px; }
    .promo .link__mate {
      max-width: 5px;
      max-height: 100px; }
  footer {
    background-color: azure;
    padding: 50px;
    text-align: center;
    font-size: 15px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - BOMBILLAS*/
#portada_pagBombillas {
  background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg); }

.boton_bombilla {
  background-color: #212227;
  border-radius: 20px; }
  .boton_bombilla .nombre_bomb {
    color: #fff; }

.boton_bombilla:hover {
  background-color: #FADF63; }
  .boton_bombilla:hover .nombre_bomb {
    color: #212227; }

element.style {
  width: 0px; }

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  #portada_pagBombillas {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagBombillas .titulo_fondo {
      width: 1200px;
      height: 300px;
      font-size: 80px;
      font-weight: bold;
      text-align: right;
      position: relative;
      right: 500px; }
  .img_bomb {
    max-width: 200px;
    max-height: 200px; }
  .text_bomb {
    width: 700px;
    height: 100px;
    font-size: 15px; }
  .nombre_bomb {
    font-size: 15px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagBombillas {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagBombillas .titulo_fondo {
      width: 760px;
      height: 350px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 120px; }
  .img_bomb {
    max-width: 200px;
    max-height: 200px; }
  .text_bomb {
    width: 700px;
    height: 100px;
    font-size: 15px; }
  .nombre_bomb {
    font-size: 15px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #portada_pagBombillas {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagBombillas .titulo_fondo {
      width: 400px;
      height: 200px;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 80px;
      right: 20px; }
  .img_bomb {
    max-width: 200px;
    max-height: 200px; }
  .text_bomb {
    width: 300px;
    height: 200px;
    font-size: 15px; }
  .nombre_bomb {
    font-size: 15px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - COMBOS*/
#portada_pagCombos {
  background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg); }

.boton_set {
  background-color: #212227; }
  .boton_set .nombre_set {
    color: #fff; }

.boton_set:hover {
  background-color: #FADF63; }
  .boton_set:hover .nombre_set {
    color: #212227; }

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  #portada_pagCombos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagCombos .titulo_fondo {
      width: 1200px;
      height: 300px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 130px;
      right: 200px; }
  .img_set {
    max-width: 120px;
    max-height: 120px; }
  .text_set {
    width: 700px;
    height: 100px;
    font-size: 15px; }
  .nombre_set {
    font-size: 15px; }
  .boton_set {
    border-radius: 30px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagCombos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagCombos .titulo_fondo {
      height: 200px;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 130px;
      right: 350px; }
  .img_set {
    max-width: 120px;
    max-height: 120px; }
  .text_set {
    width: 700px;
    height: 100px;
    font-size: 15px; }
  .nombre_set {
    font-size: 15px; }
  .boton_set {
    border-radius: 30px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-width: 320px) and (max-width: 767px) {
  #portada_pagCombos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagCombos .titulo_fondo {
      width: 320px;
      height: 00px;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      right: 500px; }
  .img_set {
    max-width: 120px;
    max-height: 120px; }
  .text_set {
    width: 300px;
    height: 100px;
    font-size: 15px; }
  .nombre_set {
    font-size: 15px; }
  .boton_set {
    border-radius: 30px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - CONTACTO*/
.form-label {
  background-color: aliceblue;
  border-radius: 30px;
  border: 2px solid;
  font-size: 25px;
  padding: 10px; }

.form-label-enviar {
  background-color: #333333;
  color: white;
  border-radius: 30px;
  border: 2px solid;
  font-size: 25px;
  padding: 10px; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseño PAGINAS - MATES*/
#portada_pagMates {
  background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg); }

.botonMate {
  background-color: #212227; }
  .botonMate .nombre_mate {
    color: #fff; }

.botonMate:hover {
  background-color: #FADF63; }
  .botonMate:hover .nombre_mate {
    color: #212227; }

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  #portada_pagMates {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagMates .titulo_fondo {
      font-size: 100px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 110px;
      right: 220px; }
  .img_mat {
    max-width: 200px;
    max-height: 200px; }
  .nombre_mate {
    font-size: 15px; }
  .text_mate {
    max-width: 700px;
    max-height: 100px;
    font-size: 15px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagMates {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagMates .titulo_fondo {
      width: 700px;
      height: 350px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 130px; }
  .img_mat {
    max-width: 200px;
    max-height: 200px; }
  .nombre_mate {
    font-size: 15px; }
  .text_mate {
    max-width: 700px;
    max-height: 100px;
    font-size: 15px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #portada_pagMates {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagMates .titulo_fondo {
      width: 250px;
      height: 200px;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 100px; }
  .img_mat {
    max-width: 200px;
    max-height: 200px; }
  .nombre_mate {
    font-size: 15px; }
  .text_mate {
    max-width: 300px;
    max-height: 200px;
    font-size: 15px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - TERMOS*/
#portada_pagTermos {
  background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg); }

.boton_termo {
  background-color: #212227; }
  .boton_termo .nombre_termo {
    color: #fff; }

.boton_termo:hover {
  background-color: #FADF63; }
  .boton_termo:hover .nombre_termo {
    color: #212227; }

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  #portada_pagTermos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagTermos .titulo_fondo {
      width: 1200px;
      height: 300px;
      font-size: 100px;
      font-weight: bold;
      text-align: center;
      position: relative; }
  .img_termos {
    max-width: 200px;
    max-height: 200px; }
  .text_termo {
    max-width: 700px;
    max-height: 200px;
    font-size: 15px; }
  .nombre_termo {
    font-size: 10px; }
  .boton_termo {
    border-radius: 30px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #portada_pagTermos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagTermos .titulo_fondo {
      width: 1000px;
      height: 200px;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 60px;
      right: 200px; }
  .img_termos {
    max-width: 200px;
    max-height: 200px; }
  .text_termo {
    width: 700px;
    max-height: 200px;
    font-size: 15px; }
  .nombre_termo {
    font-size: 15px; }
  .boton_termo {
    border-radius: 30px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #portada_pagTermos {
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid; }
    #portada_pagTermos .titulo_fondo {
      width: 320px;
      height: 300px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      position: relative; }
  .img_termos {
    max-width: 200px;
    max-height: 200px; }
  .text_termo {
    max-width: 300px;
    max-height: 200px;
    font-size: 15px; }
  .nombre_termo {
    font-size: 10px; }
  .boton_termo {
    border-radius: 30px; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
