$fuentes:(
n0: 0px,
n1:15px,
n2: 20px,
n3: 25px,
n4: 30px,
n5: 35px,
n6: 50px,
n7: 80px,
n8: 100px,
n9: 150px,
n10: 200px,
n11:300px,
n12:400px,
n13: 500px
);

.btn-primary{
    border-radius: 70px;
    .img_mat{
        width:map-get($fuentes,n11);
        height: map-get($fuentes,n11);
    };
}


@mixin footer_mobile{
    background-color: azure;
    padding: map-get($fuentes, n6);
    text-align: center;
    font-size: map-get($fuentes, n1);
}

@mixin title_pag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top : 0px;
}

.portadas{
    border-radius: 200px
}


.box_tamaño{
    width: 1900px;
    height: 500px;
}

.modelo_fondo{
    width: 100%;
    height : 100%;
    border-radius: 30px;
    border: 2px solid;
}

.modelo_titulo{
    font-size: map-get($fuentes,n9);
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 150px;
}


