/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - COMBOS*/

#portada_pagCombos{
    .titulo_fondo{
        @extend .modelo_titulo;
       @extend .box_tamaño;
    }
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    @extend .modelo_fondo;
}


.boton_set{
    @extend .btn-primary;
    background-color: #212227; 
    .nombre_set{
        color: #fff;
    }
}

.boton_set:hover{
    background-color: #FADF63; 
    .nombre_set{
        color: #212227;
    }

}

    

@media screen and (min-width: 1200px) and (max-width: 1700px){
    #portada_pagCombos{
        .titulo_fondo{
            width:1200px;
            height:300px;
            font-size: map-get($fuentes,n7);
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 130px;
            right:200px;

        }
        background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
        width: 100%;
        height : 100%;
        border-radius: 20px;
        border: 2px solid;
    }
    .img_set{
        max-width:120px;
        max-height: 120px;
    }

    .text_set{
        width:700px;
        height: 100px;
        font-size: 15px;
    }

    
    .nombre_set{
        font-size: map-get($fuentes,n1);
    }
  

    .boton_set{
        border-radius: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    #portada_pagCombos{
        .titulo_fondo{
            height: 200px;
            font-size: map-get($fuentes,n5);
            font-weight: bold;
            text-align: center;
            position: relative;
            top: 130px;
            right:350px;

        }
        background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
        width: 100%;
        height : 100%;
        border-radius: 20px;
        border: 2px solid;
    }
    .img_set{
        max-width:120px;
        max-height: 120px;
    }

    .text_set{
        width:700px;
        height: 100px;
        font-size: 15px;
    }

    
    .nombre_set{
        font-size: map-get($fuentes,n1);
    }
  

    .boton_set{
        border-radius: 30px;
}


@media screen and (min-width:320px) and (max-width:767px){
    #portada_pagCombos{
        .titulo_fondo{
            width:320px;
            height:00px;
            font-size: map-get($fuentes,n2);
            font-weight: bold;

            position: relative;
            right:500px;

        }
        background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
        width: 100%;
        height : 100%;
        border-radius: 20px;
        border: 2px solid;
    }
    .img_set{
        max-width:120px;
        max-height: 120px;
    }

    .text_set{
        width:300px;
        height: 100px;
        font-size: 15px;
    }

    
    .nombre_set{
        font-size: map-get($fuentes,n1);
    }
  

    .boton_set{
        border-radius: 30px;
    }

}
}