/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - COMBOS*/

#portada_pagCombos{
    .titulo_fondo{
        @extend .modelo_titulo;
        @extend .box_tamaño;
    }
    background-image: url(../imagenes_removed_fondo/fondoPr_auto_x1.jpg);
    @extend .modelo_fondo;
}


.boton_set{
    @extend .btn-primary;
    background-color: #212227; 
    .nombre_set{
        color: #fff;
    }
}

.boton_set:hover{
    background-color: #FADF63; 
    .nombre_set{
        color: #212227;
    }

}

    

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #portada_pagCombos{
        background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
        background-size: cover;
        padding-bottom: 300px;
    }
    
    .img_set{
        max-width:200px;
        max-height: 200px;
    }

    .text_set{
        max-width:500px;
        max-height: 300px;
    }

}

@media screen and (max-width: 768px) {
    #portada_pagTermos{
        background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
        background-size: cover;
        padding-bottom: 200px;
    }
    
    .title__pagMates{
        @include title_pag;
    }

    .img_set{
        max-width:150px;
        max-height: 150px;
    }
    .text_set{
        max-width:300px;
        max-height: 400px;
    }

    .boton_set{
        border-radius: 30px;
    }
}


@media screen and (max-width:320px) {
    #portada_pagTermos{
        background-image: url(http://d3ugyf2ht6aenh.cloudfront.net/stores/157/335/products/20200406_1520481-4a80313ae1360a0a4615878364452126-640-0.jpg);
        background-size: cover;
        padding-bottom: 100px;
    }

    .title__pagMates{
        @include title_pag;
    }
    
    .img_set{
        max-width:120px;
        max-height: 120px;
    }

    .text_set{
        max-width:200px;
        max-height: 200px;
        font-size: 10px;
    }

    
    .nombre_set{
        font-size: map-get($fuentes,n1);
    }
  

    .boton_set{
        border-radius: 30px;
    }

}