/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - CONTACTO*/

.form_correo{
    border-radius: 20px;
    width:800px;
}

.form-control{
    border-radius: 20px;
    width:1200px;
    height: 150px;

}