/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - CONTACTO*/

.form-label{
    background-color: aliceblue;
    border-radius: 30px;
    border: 2px solid;
    font-size:25px;
    padding:10px;

}

.form-label-enviar{
    background-color: #333333;
    color: white;
    border-radius: 30px;
    border: 2px solid;
    font-size:25px;
    padding:10px;
}
