/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Diseños PAGINAS - TERMOS*/


#portada_pagTermos{
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
    @extend .portadas;
}

.boton_termo{
    @extend .btn-primary;
    background-color: #212227; 
    .nombre_termo{
        color: #fff;
    }
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
    #portada_pagTermos{
        background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
        background-size: cover;
        padding-bottom: 300px;
    }
    
    .img_termos{
        max-width:200px;
        max-height: 200px;
    }

    .text_termo{
        max-width:500px;
        max-height: 300px;
    }

}

@media screen and (max-width: 768px) {
    #portada_pagTermos{
        background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
        background-size: cover;
        padding-bottom: 200px;
    }
    
    .title__pagMates{
        @include title_pag;
    }

    .img_termos{
        max-width:150px;
        max-height: 150px;
    }
    .text_termo{
        max-width:300px;
        max-height: 400px;
    }

    .boton_termo{
        border-radius: 30px;
    }
}


@media screen and (max-width:320px) {
    #portada_pagTermos{
        background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/CYW562AWOZAYHDADDZZNDIJ7LE.jpg);
        background-size: cover;
        padding-bottom: 100px;
    }

    .title__pagMates{
        @include title_pag;
    }
    
    .img_termos{
        max-width:120px;
        max-height: 120px;
    }

    .text_termo{
        max-width:200px;
        max-height: 200px;
        font-size: 10px;
    }

    
    .nombre_termo{
        font-size: map-get($fuentes,n1);
    }
  

    .boton_termo{
        border-radius: 30px;
    }

}
